.container {
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchInput {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.navButtons {
    display: flex; 
    gap: 30px; 
}

.navButton {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.activeButton {
    background-color: #3C2A21;
    color: #fff;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    gap: 20px; 
}

.contentCard {
    width: 300px; 
    height: 400px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    overflow: hidden; 
}

.accessLevelTag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #a7a7a4;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}

.media {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.description {
    max-height: 60px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    text-align: left; 
    width: 100%; 
    margin: 0; 
    padding: 0;
}

.accountToggle {
    position: relative; 
}

.toggleButton {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accountMenu {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #3C2A21;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1; 
    padding: 10px;
}

.accountMenu button {
    display: block;
    width: 100%;
    margin: 5px 0; 
}

.contentTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.detailMedia {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.descriptionContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto; 
}

.descriptionContainer h2 {
    text-align: center;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.navbar {
   
    position: relative; 
}

.dropdown {
    position: relative; 
}

.dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px; 
    font-size: 16px;
}

.dropdownMenu {
    position: absolute;
    top: 100%; 
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.dropdownMenu button {
    display: block;
    padding: 10px;
    width: 100%; 
    border: none;
    background: none;
    text-align: left; 
    cursor: pointer;
}

.dropdownMenu button:hover {
    background: #817873; 
}


