@import "tailwindcss/base"; 
@import "tailwindcss/components"; 
@import "tailwindcss/utilities"; 
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


body {
  font-family: 'font-serif ', sans-serif;
  background-color: #f7f4f0; 
  opacity:20;
  margin: 0;
  padding: 0;
}

.text-stroke {
  -webkit-text-stroke: 1.5px #3a2f2c; 
  color: transparent;
}

.slick-prev, .slick-next {
  background-color: #3a2f2c;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-prev::before, .slick-next::before {
  content: none; 
}

.slick-slide {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 2rem 0;
  transition: background-color 0.3s ease; 
}

.text-stroke {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.text-stroke::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: #3e251c; 
  filter: blur(2px); 
  transform: translate(2px, 2px); 
}



.transition-transform {
  transition: transform 0.5s ease-in-out;
}

 /* radio */
.custom-radio input[type="radio"] {
  display: none; /* Hide the default radio */
}

.custom-radio .radio-label {
  position: relative;
  padding-left: 25px; /* Space for custom radio */
  cursor: pointer;
}

.custom-radio .radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #1A120B;
  border-radius: 50%;
  background-color: #E5E5CB;
  transition: background-color 0.3s;
}

.custom-radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3a2f2c; /* Background when selected */
}
.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #3a2f2c;
  opacity: 0.6;
  pointer-events: none; /* Ensure clicks go through the circles */
}

/* Customize the scrollbar for modern browsers */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3a2f2c #f7f4f0; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3a2f2c; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #604a38; /* Darker thumb on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F7F6E9; /* Track color */
  border-radius: 4px; /* Rounded corners */
}

.custom-select:hover,
.custom-select:focus {
  border-color: #E5E5CB;
  outline: none;
  box-shadow: 0 0 2px #E5E5CB;
}
.small-dropdown {
  width: 100px; /* Adjust the width to your preference */
  font-size: 0.875rem; /* Adjust the font size */
  padding: 0.25rem; /* Adjust padding if needed */
}
.label-color {
  color: #3a2f2c;
}

@keyframes sparkle {
  0%, 100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
    opacity: 0.5;
  }
}

.animate-sparkle {
  animation: sparkle 3s infinite;
}

@layer utilities {
  .glow-effect {
    box-shadow: 0 0 15px 5px rgba(58, 47, 44, 0.6); /* Soft brown glow */
    transition: box-shadow 0.3s ease-in-out;
  }

  .glow-effect:hover {
    box-shadow: 0 0 25px 10px rgba(58, 47, 44, 1); /* Glow intensifies on hover with brown color */
  }
}